.navbar {
    background-color: #007bff;
}

section {
    padding-top: 7rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.form-login .form-floating:focus-within {
    z-index: 2;
    padding-top: 5rem;
}

.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}
.jumbotron {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: #007bff;
}

#project {
    background-color: #e2edff;
}

#faq {
    background-color: #e2edff;
}

#contact {
    background-color: #e2edff;
}

#call {
    background-color: blue;
}

#footer {
    background-color: #343a40;
}
